
<% content_for :header do %>
	<title>whats hot right now on reddit.com?</title>
	<meta name="description" content="Most active threads right now"/>
<% end %>


<% content_for :body do %>
<div class='header-line'>most commented right now on <a href='http://reddit.com'>reddit.com</a></div>

<%== erb :_top_threads, :locals => {:threads => threads } %>

<% end %>
