body {
    font-family: "Roboto Mono", Monaco, monospace;
}

a {
    color:black;
    text-decoration:underline;
}

.counter {
    text-align:right;
    background-color: #fd4;
    border-bottom: 4px solid #4fd;
    padding-bottom: 16px;
    text-align: center;
}

.counter .count {
    font-family: 'Open Sans', Arial;
    font-size: 72pt;
}

.header-line {
    background-color:black; 
    color: #fd4;
    text-align:left; 
    padding: 4px;
    font-weight:bold;
    text-align: center;
}

.header-line a {
    color: #fd4;
}

.recent-comment {
    padding: 16px;
}

.recent-comment a {
    color: black;
}

.footer-line {
    text-align:center;
    padding:8px 16px; 
    border-top: 4px solid #4fd;
}

.milestone {
    text-align: center;
    background-color: #4fd;
    padding-bottom: 3px;
}

@media only screen and (max-width:700px) {
    .counter {
        padding-bottom: 8px;
        padding-top: 4px;
    }

    .counter .count {
        font-size: 36pt;
    }

    .header-line {
        padding-bottom: 8px;
    }
}

@media only screen and (max-width:400px) {
    .counter .count {
        font-size: 32pt;
    }
}

/* stuff for top threads */
table td.numeric {
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table td {
    padding: 4px 8px;
}

.active-threads {
    margin: 16px;
}

.active-threads td.subreddit {
    text-align: left;
}

.active-threads-thin { 
    display:none;
}


table .subreddit a,
table .subreddit {
    color: #ccc;
}

table .rate {
    font-weight:bold;
}

@media only screen and (max-width:700px) {
    .active-threads {display:none;}
    .active-threads-thin {display:block;}

    table .rate {
        color:#4df;
        font-weight:bold;
    }   
}
