body {
    font-family: monaco;
}

a {
    color:black;
    text-decoration:underline;
}

.counter {
    font-family: 'Open Sans', Arial;
    text-align:right;
    background-color: #fd4;
    border-bottom: 4px solid #4df;
    padding-bottom: 16px;
}

.counter .count {
    font-size: 72pt;
    text-align: center;
}

.header-line {
    background-color:black; 
    color: #fd4;
    text-align:left; 
    padding: 4px;
    font-weight:bold;
    text-align: center;
}

.header-line a {
    color: #fd4;
}

.recent-comment {
    padding: 16px;
}

.recent-comment a {
    color: black;
}

.footer-line {
    text-align:left;
    padding:8px 16px; 
    border-top: 4px solid black;
}

@media only screen and (max-width:700px) {
    .counter {
        padding-bottom: 8px;
        padding-top: 4px;
    }

    .counter .count {
        font-size: 36pt;
    }

    .footer-line {
        text-align: center;
    }

    .header-line {
        padding-bottom: 8px;
    }
}
